@font-face {
  font-family: 'idyaWeb';
  src:  url('fonts/idyaWeb.eot?f15vf9');
  src:  url('fonts/idyaWeb.eot?f15vf9#iefix') format('embedded-opentype'),
    url('fonts/idyaWeb.ttf?f15vf9') format('truetype'),
    url('fonts/idyaWeb.woff?f15vf9') format('woff'),
    url('fonts/idyaWeb.svg?f15vf9#idyaWeb') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'idyaWeb' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-filter:before {
  content: "\e900";
}
.i-go-button:before {
  content: "\e901";
}
.i-edit:before {
  content: "\e902";
}
.i-dislike:before {
  content: "\e903";
}
.i-like:before {
  content: "\e904";
}
.i-heart:before {
  content: "\e905";
}
.i-tomato:before {
  content: "\e906";
}
.i-fist:before {
  content: "\e907";
}
.i-close:before {
  content: "\e908";
}
.i-views:before {
  content: "\e909";
}
.i-group-users:before {
  content: "\e90a";
}
.i-user:before {
  content: "\e90b";
}
.i-notifis:before {
  content: "\e90c";
}
.i-share:before {
  content: "\e90d";
}
.i-bookmark:before {
  content: "\e90e";
}
.i-back-button:before {
  content: "\e90f";
}
.i-dashboard:before {
  content: "\e911";
}
.i-idya-hub:before {
  content: "\e913";
}
.i-exit:before {
  content: "\e914";
}
.i-menu:before {
  content: "\e915";
}
.i-menu-bars:before {
  content: "\e916";
}
.i-plus:before {
  content: "\e917";
  color: #e81122;
}
.i-update:before {
  content: "\e918";
}
.i-search:before {
  content: "\e919";
}
.i-edit-2:before {
  content: "\e91a";
}
.i-images:before {
  content: "\e91b";
}
.i-file-picture:before {
  content: "\e927";
}
.i-file-video:before {
  content: "\e92a";
}
.i-location:before {
  content: "\e947";
}
.i-chat:before {
  content: "\e96d";
}
.i-spinner:before {
  content: "\e982";
}
.i-enlarge:before {
  content: "\e989";
}
.i-menu-select:before {
  content: "\e9be";
}
.i-google:before {
  content: "\ea8a";
}
.i-facebook:before {
  content: "\ea91";
}
.i-instagram:before {
  content: "\ea92";
}
.i-whatsapp:before {
  content: "\ea93";
}
.i-twitter:before {
  content: "\ea96";
}
.i-youtube:before {
  content: "\ea9d";
}
