{% extends "core.html" %} 
{% block title %}{% endblock title %} 
{% block style %} {% endblock style %} 
{% block content %}
<!-- ################## WELCOME ###################-->
{% include 'snippets/navbar.html' %}
<div class="container">
  <form method="POST" action="{% url 'accounts:profile_change_password' %}">
    {% csrf_token %}

  <div class="form-group">
      {{ form.old_password.errors }}
      <label for="{{ form.old_password.id_for_label }}">Old Password:</label><br>
      {{ form.old_password }}
      
    </div>
    <div class="form-group">
      {{ form.new_password1.errors }}
      <label for="{{ form.new_password1.id_for_label }}">New Password</label><br>
      {{ form.new_password1 }}
      
    </div>
    <div class="form-group">
      {{ form.new_password2.errors }}
      <label for="{{ form.new_password2.id_for_label }}">Confirm Password:</label><br>
      {{ form.new_password2 }}
      
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>



{% endblock content %}