<!-- SUBMIT idya MENU  POPUP -->

<div class="add-idya-panel">
  
<div class="container-fluid option-section">
  <div class="option">
    <button type="button" class="nullBtn circle-btn ripple" ng-click="emitDisplayIdyaEditorSignal('blog')">Blog</button>
    <h6>Blog</h6>
  </div>

  <div class="option">
    <button type="button" class="nullBtn circle-btn ripple" ng-click="emitDisplayIdyaEditorSignal('image')">image</button>
    <h6>Image</h6>
  </div>

  <div class="option">
    <button type="button" class="nullBtn circle-btn ripple" ng-click="emitDisplayIdyaEditorSignal('video')">video</button>
    <h6>Video</h6>
  </div>
  
</div>

<div class="close-btn">
  <button type="button" class="nullBtn ripple" ng-click="closeAddIdyaPannel()">Close</button>
</div>

</div>
