<!-- to list out the friend profiles -->
<div>	
	<!-- to display number of friends  -->
	<div class="mt-2">
	  <strong class="p-1">[[friendList.length]] friends</strong>  
	</div>
	<hr>  
	<!-- to search from the friend list -->
	<div class="SearchBar mx-auto m-2" style="background-color:#FFFF;width: 100%">  
	  <input type="text" class="form-control nullInput" name="search-content" placeholder="Whom are you looking for ?" ng-model="friend" ng-Keyup="searchFriend(friend)">
	  <button type="button" class="nullBtn" ng-click="searchFriend(friend)"><i class="icomoon i-search" aria-hidden="true"></i></button>
	</div>
	<!-- rendering friend info -->
	<div class="hCenter" ng-repeat="friend in friendList | filter:filterFriend ">

	    <div class="friendBox">     
	    <div class="section1 vCenter">
	      <!--USER PROFILE IMAGE-->
	    <div class="preLoader" style="width: 100%!important;height: 100%!important;max-width: 80px!important;max-height: 80px!important;">
	      <img ng-src="[[friend.image]]" style="width: 100%!important;height: 100%!important;max-width: 85px!important;max-height: 85px!important;">
	    </div>	    

	    </div>

	    <div class="section2 profileDetails" style="flex: 1">
	    	<a class="text-anchor" href="#profile/[[friend.username]]" style="color:blue;">[[friend.username]]</a>
	    	<p>[[friend.friendCount]] Friends | [[friend.idyaCount]] idyas</p>

	    	<div class="buttonBar" ng-if="activeProfile.username != Profile.username">	    	
	      		<button type="button" class="nullBtn ripple followBtn">Follow</button>
	    	</div>

	    </div> 

	    </div>

	</div>


</div>