<!-- section for selecting the idya category -->
<div class="filter-category-select">
	<div class="header">
		<h6 style="font-size: 20px;">Choose your preference</h6>
		<!-- close button -->
		<button type="button" Class="nullBtn ml-auto" ng-click="closeFilterIdyaModal()">
			<i class="icomoon i-close headerText"></i>
		</button>
	</div>  
	
	<div class="category-pills-section">
		<button type="button" class="bttn ripple btn-pill-border">science</button>
		<button type="button" class="bttn ripple">technology</button>
		<button type="button" class="bttn ripple">social</button>
		<button type="button" class="bttn ripple">historysssssss</button>
		<button type="button" class="bttn ripple">medicine</button>
		<button type="button" class="bttn ripple">anatomy</button>
		<button type="button" class="bttn ripple">history</button>
		<button type="button" class="bttn ripple">medicine</button>
		<button type="button" class="bttn ripple">anatomy</button>
		
		
	</div>
	<div class="category-search-section" style="width: 100%">
		<div class="search-bar">
			<input type="text" name="category.search" class="nullInput ripple" placeholder="other category.." ng-model="idyaData.category">
			<button type="button" class="bttn ripple">
				<i class="icomoon i-search"></i>
			</button>
		</div>
	</div>
</div>