{% load staticfiles %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'frontend/assets/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'frontend/assets/fonts/font.css' %}">
    
    <script src="{% static 'frontend/assets/node_modules/jquery/dist/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'frontend/assets/node_modules/angular/angular.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'frontend/assets/node_modules/angular-ui-router/release/angular-ui-router.min.js' %}"></script>

    

    <!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>-->

    {% block AdittionalScripts %}{% endblock %}

    <title>idyaWeb</title>
    <!--BASIC STYLE TO BE LOADED-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/iStyle.css' %}">
    {% block style %}   
    {% endblock style %}
</head>

<body>
    <div class="enclosed">
    {% block content %}

    {% endblock %}
    </div>
    <!-- custom fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--<script 
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>-->
    <script 
    src="{% static 'frontend/assets/node_modules/popper.js/dist/popper.min.js' %}"></script>
    <script 
    src="{% static 'frontend/assets/node_modules/bootstrap/dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'frontend/assets/plugin-js/anguvideo.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/assets/plugin-js/simpleSanitizer.js' %}"></script>

    
    {% block scripts %}
    {% endblock scripts %} 
    

    <!-- loading additional css for pages -->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/hubDashboardStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/profilePage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/idyaDetailStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/assets/css/idyaEditorStyle.css' %}">
    
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
</body>

</html>