<!-- to list out profile search results -->
<div class="profile-search-results-section fade-in">	
	<!-- to display number of friends  -->
	<div class="mt-2" ng-hide="searchResultsNone">
	  <strong class="p-1">[[profileSearchResults.length]] results found</strong>  
	</div>
	<hr>  

	<!-- rendering profile info -->
	<div class="hCenter" ng-repeat="result in profileSearchResults" ng-hide="searchResultsNone">

	    <div class="profile-result-info-display fade-in-left">     
		    <div class="profile-result-info-pic">
		    <!-- user profile image -->
		    <load-profile-pic username="[[result.username]]"></load-profile-pic>    

		    </div>

	    <div class="profile-result-info-details">
	    	<a class="text-anchor" href="#/profile/[[result.username]]" style="color:blue;">[[result.username]]</a>
	    	<p>[[result.friendCount]] friends | [[result.idyaCount]] idyas</p>

	    	<div class="buttonBar" ng-if="activeProfile.username != Profile.username">	    	
	      		<button type="button" class="nullBtn ripple followBtn">Follow</button>
	    	</div>

	    </div> 

	    </div>

	</div>

	<div class="text-center p-4" ng-show="searchResultsNone">
		<h5>oops!! No profile found</h5>
	</div>


</div>