  <div ng-switch="idya.idyatype">
    <div ng-switch-when="iLog" class="horizontal-centering">

<!--------
          iLOG
--------->

  <!--Users ilog BLOCK FORMAT -->    
  <div class="idya-block" >
    <div class="d-flex top-bar">

      <div class="user-viewed-circles"  style="color: rgba(0,0,0,0.5)">
        <div class="postion-relative">
          <div class="circle"></div>
        </div>

        <div class="postion-relative">
          <div class="circle"></div>
        </div>

        <div class="postion-relative">
          <div class="circle"></div>
        </div>
        
        <small  class="color-gray">+7 more viewed</small>
        

      </div>
      
      <div class="ml-auto" >
      <button type="button" class="simple-btn" id="[[idya.slug]]-bookmark-btn" ng-click="bookmark(idya.slug)"><i class="icomoon i-bookmark" aria-hidden="true"></i></button>
      <button type="button" class="simple-btn" id="share-btn" ng-click=""><i class="icomoon i-share" aria-hidden="true"></i></button>
      <button type="button" class="simple-btn" id="menu-btn" ng-click="menuModalTrig()"><i class="icomoon i-menu" aria-hidden="true"></i></button>
      </div>

    </div>
    
    <hr>

    <div class="header d-flex">
      <!--idya BLOCK HEADER CONTENT-->
        
        <!--USER PROFILE IMAGE-->
        <div class="round-img-preloader" style="width: 100%!important;height: 100%!important;max-width: 50px!important;max-height: 50px!important;">
          <user-image-loader username="[[idya.username]]"></user-image-loader>
        </div>

        <div class="user_data w-100">
          
          <div class="d-flex align-items-end mt-2 p-0"  >
            <h6 class="m-0 color-unfocus" style="font-size: 16px;color: rgba(0,0,0,0.7)"><a href="#" class="text-anchor">[[idya.username]]</a></h6>
            <small style="font-size:10px;color: rgba(0,0,0,0.7)"><strong>.</strong> [[idya.timestamp | date]]</small>
            
            </div>

            <div style="color: rgba(0,0,0,0.7)">

            <strong class="mt-2 mb-2" style="font-size:16px;text-align: justify;">[[idya.title]]</strong>


            </div>
          
          </div>
        
      </div>

        <div class="idya-block-content-area">

          <div class="context" style="overflow: hidden;" >

          <div class="d-flex justify-content-start align-items-center " style="color: rgba(0,0,0,0.2)">

            <small style="font-size:14px"><a href="#" class="text-anchor">[[idya.idyahub_name]]</a></small> 
            <strong style="font-size:12px;padding: 5px;">></strong> 
            <small style="font-size:14px"><a href="#" class="text-anchor">[[idya.category]]</a></small>

            </div>
            
            <div style="color: rgb(0,0,0)">
            [[idya.post | limitTo:500]] ...

            </div>

            </div>
            <div class="d-flex justify-content-center">
              <a class="text-anchor btn-v2" id="read-more" href="/idyaweb/post-details/[[idya.slug]]/"><strong>Read More</strong></a>
              </div>
                  
            <div class="btn-bar">
              
              <div class="idya-block-buttons">
                <button class="simple-btn" type="button" ng-click="liked(idya.slug)" id="[[idya.slug]]-like-btn"><i  class="icomoon i-fist" aria-hidden="true" style="font-weight:800;"></i></button>
                <small>[[idya.likes.length]]</small>
                </div>

              <div class="idya-block-buttons">
                <button type="button" class="simple-btn" id="comment-button" ng-click="commentModalTrig(idya.slug)"><i class="icomoon i-chat" aria-hidden="true"></i></button>
                </div>  

              <div class="idya-block-buttons">
                <button type="button" class="simple-btn"  ng-click="disliked(idya.slug)" id="[[idya.slug]]-dislike-btn"><i class="icomoon i-tomato" aria-hidden="true" style="font-weight:800;"></i></button>
                <small>[[idya.dislikes.length]]</small>
                </div>
            </div>
        </div>
  </div>



      </div>

    <div ng-switch-when="iMage" class="horizontal-centering">
<!------
        iMage
------->

<!--Users iMage BLOCK FORMAT -->    
  <div class="idya-block">

    <div class="iMage-holder">
    <!--idya BASIC INFO :LIKES DISLIKES...-->
    <div class="d-flex top-bar">
      <div class="d-flex justify-content-start"  style="color: rgba(0,0,0,0.5)">
        <div class="circle bg-gray" style="width: 20px;height: 20px"></div>
        <div class="circle bg-gray" style="width: 20px;height: 20px"></div>
        <small  class="color-gray">+7 more viewed</small>
        

      </div>
      
      <div class="ml-auto" >
      <button type="button" class="simple-btn" id="[[idya.slug]]-bookmark-btn" ng-click="bookmark(idya.slug)"><i class="icomoon i-bookmark" aria-hidden="true"></i></button>
      <button type="button" class="simple-btn" id="[[idya.slug]]-share-btn" ng-click=""><i class="icomoon i-share" aria-hidden="true"></i></button>
      <button type="button" class="simple-btn" id="menu-btn" ng-click="menuModalTrig()"><i class="icomoon i-menu" aria-hidden="true"></i></button>
      </div>

    </div>

      <img ng-src="[[idya.image]]" style="max-width: 100%;max-height: 100%">
    </div>

    <div class="header">
    <div class="user-info d-flex">
      <!--idya BLOCK HEADER CONTENT-->
      
        <!--USER PROFILE IMAGE-->
        <div class="round-img-preloader" style="width: 100%!important;height: 100%!important;max-width: 50px!important;max-height: 50px!important;">
          <user-image-loader username="[[idya.username]]"></user-image-loader>
        </div>

        <div class="user-data">
          
          <div class="d-flex align-items-center mt-2 p-0">
            <strong class="m-0 p-0" style="font-size: 16px"><a href="#" class="text-anchor">[[idya.username]]</a></strong>
            <small class="ml-1" style="font-size: 10px">[[idya.timestamp | date]]</small>
            
            </div>

            <div>

            <div class="d-flex justify-content-start align-items-center ">

            <small style="font-size:14px"><a href="#" class="text-anchor">[[idya.idyahub_name]]</a></small> 
            <strong style="font-size:12px;padding: 5px;">></strong> 
            <small style="font-size:14px"><a href="#" class="text-anchor">[[idya.category]]</a></small>

            </div>

            <p class="pr-2" style="font-size:14px;">[[idya.abstract]]</p>
            
            <div class="d-flex justify-content-center">
              <a class="text-anchor btn-v2" id="read-more" href="/idyaweb/post-details/[[idya.slug]]/"><strong>Read More</strong></a>
              </div>
            
            </div>
          
          </div>
        
      </div>

            <div class="btn-bar">
              
              <div class="idya-block-buttons">
                <button class="simple-btn" type="button" ng-click="liked(idya.slug)"><i id="[[idya.slug]]-like-btn" class="icomoon i-fist" aria-hidden="true" style="font-weight:800;"></i></button>
                <small>[[idya.likes.length]]</small>
                </div>

              <div class="idya-block-buttons">
                <button type="button" class="simple-btn" id="comment-button" ng-click="commentModalTrig(idya.slug)"><i class="icomoon i-chat" aria-hidden="true"></i></button>
                </div>  

              <div class="idya-block-buttons">
                <button type="button" class="simple-btn"  ng-click="disliked(idya.slug)"><i id="[[idya.slug]]-dislike-btn" class="icomoon i-tomato" aria-hidden="true" style="font-weight:800;"></i></button>
                <small>[[idya.dislikes.length]]</small>
                </div>
            </div>
    </div>
  </div>


      </div>

    <div ng-switch-when="iVideo" class="horizontal-centering">
<!------
        iVideo
------->

<div class="idya-block">

    <div class="iVideo-holder">
    <!--idya BASIC INFO :LIKES DISLIKES...-->
    <div class="d-flex top-bar">
      <div class="d-flex justify-content-start"  style="color: rgba(0,0,0,0.5)">
        <div class="circle bg-gray" style="width: 20px;height: 20px"></div>
        <div class="circle bg-gray" style="width: 20px;height: 20px"></div>
        <small  class="color-gray">+7 more viewed</small>
        

      </div>
      
      <div class="ml-auto" >
      <button type="button" class="simple-btn" id="[[idya.slug]]-bookmark-btn" ng-click="bookmark(idya.slug)"><i class="icomoon i-bookmark" aria-hidden="true"></i></button>
      <button type="button" class="simple-btn" id="[[idya.slug]]-share-btn" ng-click=""><i class="icomoon i-share" aria-hidden="true"></i></button>
      <button type="button" class="simple-btn" id="menu-btn" ng-click="menuModalTrig()"><i class="icomoon i-menu" aria-hidden="true"></i></button>
      </div>

    </div>
    <div class="embed-responsive embed-responsive-16by9">

      <iframe class="embed-responsive-item" ng-src="[[ idya.videoUrl ]]" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      </div>
    </div>
      

    <div class="header">
    <div class="user-info d-flex">
      <!--idya BLOCK HEADER CONTENT-->
      
        <!--USER PROFILE IMAGE-->
        <div class="round-img-preloader" style="width: 100%!important;height: 100%!important;max-width: 50px!important;max-height: 50px!important;">
          <user-image-loader username="[[idya.username]]"></user-image-loader>
        </div>

        <div class="user-data">
          
          <div class="d-flex align-items-center mt-2 p-0">
            <strong class="m-0 p-0" style="font-size: 16px"><a href="#" class="text-anchor">[[idya.username]]</a></strong>
            <small class="ml-1" style="font-size: 10px">[[idya.timestamp | date]]</small>
            
            </div>

            <div>

            <div class="d-flex justify-content-start align-items-center ">

            <small style="font-size:14px"><a href="#" class="text-anchor">[[idya.idyahub_name]]</a></small> 
            <strong style="font-size:12px;padding: 5px;">></strong> 
            <small style="font-size:14px"><a href="#" class="text-anchor">[[idya.category]]</a></small>

            </div>

            <p class="pr-2" style="font-size:14px;">[[idya.abstract]]</p>
            
            <div class="d-flex justify-content-center">
              <a class="text-anchor btn-v2" id="read-more" href="/idyaweb/post-details/[[idya.slug]]/"><strong>Read More</strong></a>
              </div>
            
            </div>
          
          </div>
        
      </div>

            <div class="btn-bar">
              
              <div class="idya-block-buttons">
                <button class="simple-btn" type="button" ng-click="liked(idya.slug)"><i id="[[idya.slug]]-like-btn" class="icomoon i-fist" aria-hidden="true" style="font-weight:800;"></i></button>
                <small>[[idya.likes.length]]</small>
                </div>

              <div class="idya-block-buttons">
                <button type="button" class="simple-btn" id="comment-button" ng-click="commentModalTrig(idya.slug)"><i class="icomoon i-chat" aria-hidden="true"></i></button>
                </div>  

              <div class="idya-block-buttons">
                <button type="button" class="simple-btn"  ng-click="disliked(idya.slug)"><i id="[[idya.slug]]-dislike-btn" class="icomoon i-tomato" aria-hidden="true" style="font-weight:800;"></i></button>
                <small>[[idya.dislikes.length]]</small>
                </div>
            </div>
    </div>
  </div>

    </div>
    </div>
