<div class="wrapScreen bg-blur" ng-if="showSideNav">	

<div class="sideBar rightFixed d-flex flex-column text-center" ng-class="{'page-slide-left': showSideNav == true}">
  <button type="button" class="nullBtn ripple" ng-click="toggleSideBar()"><i class="icomoon i-close" style="font-size: 18px"></i></button>
  <strong style="font-size: 24px">idyaWeb</strong>
  <p class="mb-3">Built for people with the sole purpose of sharing their idyas</p>
  <hr>
  <ul>
  	<li>Xplore</li>
  	<li>About Us</li>
  </ul>
</div>
</div>