<div class="holder WrapToFit">

<!-- navigation section -->
<nav class="nav-section">
  
  <div class="row justify-content-center w-100">
  <div class="col-md-10 col-lg-8 navbar">
  <!-- navigation buttons -->

  <div class="dropdown vCenter" ng-if="activeProfile.username != 'Anonymous'">
 <!--  for displaying the profile with the name -->
  <div class="profileButton ripple" data-toggle="dropdown">
    <div class="profilePicDisplay" style="overflow: hidden;">
      <img ng-src="[[activeProfile.image]]" style="width: 44px;height: 44px;">
    </div>
    <div class="profileName">
      <h2 class="text-white text-header">[[activeProfile.username]]'s idyaweb</h2>
    </div>   
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#/profile/[[activeProfile.username]]">My Profile</a>
    <hr>
    <a class="dropdown-item" href="/logout/">Log-Out</a>
  </div>
  </div>

    <div class="hCenter" ng-if="activeProfile.username == 'Anonymous'">    
      <a class="btn nav-section-btn ripple" style="border:2px solid rgb(250,250,250);border-radius:20px;background-color:inherit;padding: 4px 12px;font-size: 16px" href="/login/">Connect</a>
    </div>
  <!-- navigation buttons -->
  <div class="navBarBtns d-flex">    

    <button type="button" class="nullBtn nav-section-btn ripple" ng-click="toggleDashboardPageSideNav()">
      <i class="icomoon i-menu-bars" style="font-size: 20px"></i>
    </button>
  </div>
  
  </div>
  </div>
</nav>


<div class="bodyHolder">
  <!-- dashboard side navigation -->
<div class="bg-blur fitContainer" style="position: fixed;z-index: 5;" ng-if="showDashboardSideNav">  

<div class="sideBar text-center page-slide-left" style="position: absolute;top: 0;bottom: 0;right: 0">

<div class="d-flex flex-column align-items-center">
</div>
  <strong style="font-size: 24px">idyaWeb</strong>
  <p class="mb-3">Built for people with the sole purpose of sharing their idyas</p>
  <hr>
  <ul>
    <li>Xplore</li>
    <li>About Us</li>
  </ul>
</div>
</div>

    <div class="row idya-block-section justify-content-center w-100">         
      
    <div class="col-12 p-0" style="margin-bottom: 80px;display: flex;flex-direction: column;align-items: center;"> 

<!-- IDYA BLOCKS SECTION -->
<fetch-idya-for-dashboard username="[[activeProfile.username]]"></fetch-idya-for-dashboard>

  
      </div>
       
      </div>
 
    </div>

</div>


