<!-- idya block menu modal -->
<div class="menuModal">

<div class="header">

<!-- close button -->
<button type="button" Class="nullBtn mr-auto" ng-click="toggleMenuModal()">
	<i class="icomoon i-close headerText"></i>
</button>

<!-- header text -->
<span class="ml-auto headerText">Menu</span>
</div>  

<button type="button" class="nullBtn form-control">Hide idya</button>

<button type="button" class="nullBtn form-control">Show fewer post like this</button>

<button type="button" class="nullBtn form-control">Report</button>


</div>
