<!-- Slider main container -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
			<div class="navCompensate" ui-view="dashboard-view"></div>
        </div>
        <div class="swiper-slide">
            <div class="navCompensate" ui-view="idyahub-view"></div>
        </div>
        <div class="swiper-slide">
            <div class="navCompensate" ui-view="notification-view"></div>
        </div>
        <div class="swiper-slide">
            <!-- <div class="profileLoadingSpinner fitContainer hCenter" style="margin-top:40vh">
                <img src="https://cdn-images-1.medium.com/max/1600/1*inYwyq37FdvRPLRphTqwBA.gif" alt="">
            </div> -->
            <div class="navCompensate" ui-view="profile-view"></div>
        </div>
    </div>
</div>
</div>